.header{
	color: white;
	z-index: 10;
	background-color: black;
}
h1{
	font-family: 'Open Sans', sans-serif;
}
#myHeader{
	background-color: black;
z-index: 8;
}
.header a{
    color:white;
}
.sticky {
	position: fixed;
	/* top: -19px;
	width: 100%; */
  }
  
  /* .sticky + .header {
	padding-top: 102px;
  } */
  section{
	  overflow: hidden;
  }
  .dropdown-menu{
    display: none;
    position: absolute;
    background: white;
    min-width: 150px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 2);
    z-index: 1;
}
.dropdown-menu .dropdown-item{
    color:black;
    background: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-menu .dropdown-item:hover{
    border-radius: 3px;
    border-bottom: 3px solid #47ff65;
}

.dropdown:hover .dropdown-menu{
    display: block;
}
 /* countdown */


 .nextevent p {
	font-family : Rubik;
	font-size : 36px;
	font-weight : 500;
	
	text-align : center;
	
	white-space: nowrap;
	overflow: hidden;
  }
  .nextevent p:nth-child(1) {
  
	width:400px;
	-webkit-animation: type 4s steps(40, end);
	animation: type 4s steps(40, end);
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
  }
  
@keyframes type {
	0% {
	  width: 0;
	}
	
	}
	100%{
	  border:none;
	}
  }
  
  @-webkit-keyframes type {
	0% {
	  width: 0;
	}
  
	}
	100% {
	  border:none;
	}
  }
  @keyframes blink {
	50% {
	  border-color: transparent;
	}
  }
  @-webkit-keyframes blink {
	50% {
	  border-color: tranparent;
	}
  }

/* countdown ends */

/* footer starts*/

#footer{
    background-color:white;
    position: relative;
    height: 100%;
    margin-top: 0%;
    clear: both;

}

#backToTop a.btn--default,
        .post--comment-thumb a,
        .logged-in-as a,
        .fa.fa-calendar,
        .contact--address address p i.fa,
        .contact--social li a {
            color: #303030;
        }
        #backToTop .btn--default,
        .btn--default,
        .contact--address address p i.fa,
        .btn--primary,
        .posts-filter-menu,
        .gallery-overlay .gallery--window:hover, 
        .gallery-overlay .gallery--window:focus,
        .section--title h2:before,
        .bg--img .section--title h2:before,
        .contact--address h2::before,
        .bg--img .feedback--title::before,
        .team--member-social ul li a:hover,
        .post--details .modal-body,
        .contact--social li a,
        .contact--social li a:hover {
            border-color: #303030;
        }

.backtotop{
    text-align-last: end;
}
#Contact{
    text-align: -webkit-center;
}
 /* card end */

 